<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title> Secure Sharing of CCTV Feed</title>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<style>
    h1 {
        display: block;
        color: red;
        font-size: 1.5em;
        margin-top: 0.83em;
        margin-bottom: 0.83em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }
</style>

<body>
    <section class="hero is-info is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-half">
                        <form method="POST">
                            <h1>CCTV Login Form for Officials</h1>
                            <h2>This page is only for officials with privileges to access elevated features.</h2>

                            <div class="field">
                                {% if error %}
                                <p><strong>Error</strong>: {{error}}</p>
                                {% endif %}
                                <label class="label">Username</label>
                                <div class="control has-icons-left has-icons-right">
                                    <input class="input" type="text" name="username" placeholder="Username">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-user"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Password</label>
                                <p class="control has-icons-left">
                                    <input class="input" type="password" name="password" placeholder="Password">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </p>
                            </div>
                            <div class="field">
                                <p class="control">
                                    <button type="submit" class="button is-success">
                                        Login
                                    </button>
                                    <button type="submit" class="button is-success">
                                        <a href="/profile">
                                            Continue homepage access without Login?</a>
                                    </button>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>